*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

@font-face{
	font-family: 'rastiga';
    src: url('../font/Rastiga.otf');
}

input {
	cursor: pointer;
}

body{
	background: #fcfcfc;
	height: 100vh;
	width: 100%;
	padding: 30px 50px 60px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header{
	display: block;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 96%;
    height: 7%;
    margin: 0 0 0 2%;

}
.name{
	font-size: 35px;
	letter-spacing: 6px;
	font-family: rastiga, sans-serif;
	color: #000;
	
	}

a{
	text-transform: capitalize;
	text-decoration: none;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 18px;
	font-weight: 500;
}

ul{
display: inline-flex;
gap: 50px;
list-style: none;	
margin: auto;
}

.links{
	position: relative;
background-color: transparent;
width: 30%;
margin: -2% 0 0 72%;
}

.item_section{
    position: absolute;
    height: 50%;
    width: 95%;
    margin: 2% 0 0 -3%;
    border-bottom: 1px solid #000;
}

.img {
	position: absolute;
	border: 2px solid #000;
	height: 92%;
	width: 30%;
}


.item_name {
	font-size: 50px;
	font-family: sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 2% 0 0 35%;
}

.item_price {
	position: absolute;
	font-size: 20px;
	font-family: sans-serif;
	top: 28%;
	left: 37%;
}

.colors {
background-color:transparent;
height: 14%;
width: 14%;
align-items: center;
border: 2px solid #000;
margin: 4% 0 0 35% ;
}

.black,
.blue,
.yellow,
.white {
	position:absolute;
	height: 28px;
	width: 28px;
	border-radius: 50px;
	display: inline-flex;
	cursor: pointer;

}

.black {
	background-color: #000;
	border: 2.5px solid #fff;
	margin: .5% 0 0 .5%;
}

.blue {
	background-color: blue;
	border: 2.5px solid blue;
	margin: .5% 0 0 11.5%;
}

.yellow {
	background-color: yellow;
	border: 2.5px solid yellow;
	margin: .5% 0 0 3.5%;
}

.white {
	background-color: #fff;
	border: 2.5px solid #000;
	margin: .5% 0 0 7.5%;
}

.size {
	position: absolute ;
	display: inline-flex;
	height: 14%;
	width: 8%;
	border: 2px solid #000;
	margin: -3.5% 0 0 52%;
	justify-content: space-around;
}

.up {
	background-color: transparent;
	border: none;
	font-size: 22px;
	transform: rotate(270deg);
	margin: -6% 0 0 -4%;
	cursor: pointer;
}

.down {
	background-color: transparent;
	border: none;
	font-size: 22px;
	transform: rotate(90deg);
	margin: -6% 0 0 0;
	cursor: pointer;
}

.digits {
	font-family: sans-serif;
	letter-spacing: 2px;
	margin: 13% 0 0 15%;
}
