*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

@font-face{
	font-family: 'rastiga';
    src: url('../font/Rastiga.otf');
}

img{
  position: absolute;	
}

.img_1{
	margin: 1% 0 0 2%;
}

.img_2{
	margin: 0% 0 0 0%;
}

.img_3{
	margin: 0% 0 0 0%;
}

.img_4{
	margin: 1.5% 0 0 4%;
}

.body{
	background: linear-gradient(-270deg, #939185 50%, #E6B9A6 10%);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

a{
	text-transform: capitalize;
	text-decoration: none;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

ul{
	display: inline-flex;
position: relative;
margin: 0;
gap: 60px;
top: 40%;
left: 40%;
list-style: none;	
}

.underline{
	position: absolute;
	background-color:#5C5346;
	content: "";
	margin-left: -56%;
	margin-top: 10%;
	filter: blur(0px);
	border-radius: 0px;  
	height: 10%;
	width: 15%;
	z-index: -1;
	transition: .5s all;
	}


     /* work in progress */


	/* .link:nth-child(2){
		/* background-color: #fff; */
		/* margin-left: -36%;
	margin-top: 10%; */
	} */



.header{
	position: fixed;
display: flex;
background-color: 	transparent;
height: 8%;
width:100%;
margin: 0 0 0 0;

}

.name{
	position: absolute;
font-size: 155px;
letter-spacing: 8px;
font-family: rastiga, sans-serif;
margin: 17% 0 0 28.5%;
color: #ECCEAE;
}

.name::before{
	position: absolute;
	background-color:#ECCEAE;
	content: "";
	margin-left: -5%;
	margin-top: 11%;
	border-radius: 0px;  
	height: 3%;
	width: 110%;
	display: none;	
}

.links{
	position: relative;
background-color: transparent;
width: 30%;
margin: 0 0 0 55%;
}

.content_1{
	position: absolute;
	background: linear-gradient(-270deg, #FFD3B6 34%, #7a6556 10%);
height: 16%;	
width: 21%;
border-radius: 11px;
margin: 6% 0 0 66%;
}

.items {
	position: absolute;
	margin: 14% 0 0 47%; 
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #FFD3B6;
}


.price{
	position: absolute;
	margin: 23% 0 0 51%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 552;
	letter-spacing: 2px;
}

.add{
	position: absolute;
	background-color: #597445;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: none;
	font-size: 18xpx;
	color: #D6EFD8 ;
	margin: 4% 0 0 91%;
}

.content_2{
	position: absolute;
	background: linear-gradient(-180deg, #FFD3B6 70%, #7a6556 10%);
	height: 36%;	
	width: 12%;
	border-radius: 11px;
	margin: 28% 0 0 68%;
}

.items_1{
	position: absolute;
	margin: 105% 0 0 16%;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #FFD3B6;
}

.price_1{
	position: absolute;
	margin: 120% 0 0 32%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 552;
	letter-spacing: 2px;
}

.add_1{
	position: absolute;
	background-color: #597445;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: none;
	font-size: 18xpx;
	color: #D6EFD8 ;
	margin: 3% 0 0 85%;
}

.content_3{
	position: absolute;
	background: linear-gradient(-180deg, #FFD3B6 70%, #7a6556 10%);
	height: 36%;	
	width: 12%;
	border-radius: 11px;
	margin: 28% 0 0 85%;
}

.content_4{
	position: absolute;
	background: linear-gradient(-180deg, #FFD3B6 65%, #7a6556 10%);
height: 28%;	
width: 32%;
border-radius: 11px;
margin: 1% 0 0 5%;
}

.items_3{
	position: absolute;
	margin: 28% 0 0 36%;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: capitalize;
	color: #FFD3B6;
}

.price_3{
	position: absolute;
	margin: 33% 0 0 41%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 552;
	letter-spacing: 2px;
}

.add_3{
	position: absolute;
	background-color: #597445;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: none;
	font-size: 18xpx;
	color: #D6EFD8 ;
	margin: 3% 0 0 93%;
}

.inner{
	position: absolute;
    margin: 8% 0 0 38%;
	max-width: 55%;
}

.lorem{
	color: ;
	max-width: 22%;
	margin: 28% 0 0 4%;
}

.lorem_1{
	color: ;
	max-width: 22%;
	margin: 3% 0 0 25%;
}

/* changes were made here */
.btn{
	background-color: #597445;
	height: 60px;
	width: 230px;
	border-radius: 8px;
	border: none;
	font-size: 23xpx;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #D6EFD8 ;
	margin: 1% 0 0 15%;
	cursor: pointer;
}
