*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

@font-face{
	font-family: 'rastiga';
    src: url('../font/Rastiga.otf');
}

input {
	cursor: pointer;
}

h3 {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
}

body{
	background: linear-gradient(to top, #939185 38%, #E6B9A6);
	height: 100vh;
	width: 100%;
	padding: 30px 50px 60px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}
.name{
	font-size: 45px;
	letter-spacing: 8px;
	font-family: rastiga, sans-serif;
	color: #ECCEAE;
	}

.linkUp{
	text-transform: capitalize;
	text-decoration: none;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

ul{
display: inline-flex;
gap: 60px;
list-style: none;	
}
/*
.underline{
	position: absolute;
	background-color:#5C5346;
	content: "";
	margin-left: -56%;
	margin-top: 10%;
	filter: blur(0px);
	border-radius: 0px;  
	height: 10%;
	width: 15%;
	z-index: -1;
	transition: .5s all;
	}


     /* work in progress */


	/* .link:nth-child(2){
		/* background-color: #fff; */
		/* margin-left: -36%;
	margin-top: 10%; 
}*/




/*U.header{
display: flex;
background-color: 	transparent;
height: 8%;
width:100%;
margin: 0 0 0 0;
}
*/
section{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.information{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	width: 1200px;
	height: 600px;
	border-radius: 20px;
	padding: 30px 50px;
}
.info{
	display: block;
	transition: 1s ease;
}

.img{
position: absolute;
 display: block;
 border: 3px solid #E6B9A6;
 background-color: #E6B9A6;
 top: -20%;
 width: 200px;
 height: 200px;
 border-radius: 50%;

}

.btn{
	width: 200px;
	height: 50px;
	padding: 6px;
	font-size: 20px;
	font-weight: 500;
	background-color: #597445;
	border-radius: 26px;
	border: none;
	cursor: pointer;
}

.basket{
	color: #1754a3;
	text-transform: capitalize;
	font-size: 15px;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.personal {
	border: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	transition: 1s ease;
}



.linkUp {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
	color: #c21f69;
	font-weight: 550;
}
.warning{
	display: block;
}

.signUp {
	background:transparent;
	border-radius:12px ;
	margin-top:100px;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	transition: 1s ease;
}

.signUp form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	transition: 1s ease;
}
.signUp form input, .google {
	width: 600px;
	height: 50px;
	padding: 15px;
	border: .5px solid #000;
	border-radius: 5px;
	font-size: 18px;
	outline: none;
	cursor: text;
  }
  .back {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
	color: #c21f69;
	font-weight: 550;
	
}
.google{
	text-align: center;
	text-decoration: none;
	color: #000;
	margin-top: 20px;
	cursor: pointer;
}
.text_1 {
	font-family: sans-serif;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
    
}

.phoneNumber {
	font-size: 20px;
	font-family: sans-serif;
	letter-spacing: 1px;
} 