*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

@font-face{
	font-family: 'rastiga';
    src: url('../font/Rastiga.otf');
}

h1 {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
	margin: 15% 0 0 23%;
}

.body{
	background: linear-gradient(to top, #939185 38%, #E6B9A6);
	height: 106.2%;
	width: 100%;
	position: absolute;
	z-index: -1;
    margin: -3% 0 0 0;
}

a{
	text-transform: capitalize;
	text-decoration: none;
	color: #000;
	font-family: raleway, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

ul{
	display: inline-flex;
position: relative;
margin: 0;
gap: 60px;
top: 40%;
left: 40%;
list-style: none;	
}

.underline{
	position: absolute;
	background-color:#5C5346;
	content: "";
	margin-left: -56%;
	margin-top: 10%;
	filter: blur(0px);
	border-radius: 0px;  
	height: 10%;
	width: 15%;
	z-index: -1;
	transition: .5s all;
	}


     /* work in progress */


	/* .link:nth-child(2){
		/* background-color: #fff; */
		/* margin-left: -36%;
	margin-top: 10%; */
	} */



.header{
	position: fixed;
display: flex;
background-color: 	transparent;
height: 8%;
width:100%;
margin: 0 0 0 0;
}

.links{
	position: absolute ;
background-color: transparent;
width: 30%;
margin: 1% 0 0 55%;
}

.name{
	position: absolute;
font-size: 45px;
letter-spacing: 8px;
font-family: rastiga, sans-serif;
margin: 2% 0 0 4%;
color: #ECCEAE;
}

.img{
 position: absolute;
 display: block;
 border: 3px solid #E6B9A6;
 background-color: #E6B9A6;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 margin: 10% 0 0 43%;
 z-index: 3;
}

.information{
	position: absolute;
	background-color: #fff;
	width: 61%;
	height: 58%;
	border-radius: 10px;
	margin: 17% 0 0 19%;
}

.btn{
	position: relative;
	height: 10%;
	width: 13%;
	background-color: #597445;
	border-radius: 26px;
	border: none;
	margin: 43% 0 0 43%;
}

.basket{
	position: absolute;
	color: #1754a3;
	text-transform: capitalize;
	margin-left: 25%;
	margin-top: 5%;
	font-size: 15px;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.personal {
	position: absolute;
	height: 43%;
	width: 55%;
	border: none;
	margin: 15% 0 0 -35%;

}

.linkUp {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 17px;
	color: #c21f69;
	font-weight: 550;
}

.signUp {
	position: absolute;
	background:#fff;
	height: 110%;
	width: 35%;
	border-radius:12px ;
	border: .5px solid #c21f69;
	z-index: 4;
	margin: -2% 0 0 -20%;
}

.input {
	margin: 30px;
	background: none;
	border: none;
	outline: none;
	max-width: 190px;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 9999px;
	box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
	color: #fff;
  }